* {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  box-sizing: border-box;
}

body {
  background-color: $pure-white;
  min-width: 100%;
  min-height: 100vh;
}

.divisor {
  display: none;
}

.beon-showcase__head::before {
  position: relative;
  top: 50px !important;
  z-index: 5 !important;
  border: 1px solid $secondary;
}

.beon-slider .beon-slider__slides .beon-slider__slide {
  padding: 0 !important;
}

.beon-showcase .beon-showcase__item {
  margin: 0 !important;
}

.beon-showcase__item-references {
  display: none !important;
}

.beon-showcase .beon-showcase__item-price--to .beon-showcase__price,
.beon-showcase .beon-showcase__item-price-box--simple .beon-showcase__price {
  @include formatText(700, 22px, $secondary);
}

.beon-showcase__item-price--to .prefix {
  display: none;
}

.beon-showcase__item-price--to {
  width: 100%;
  margin-top: 10px;
}

.beon-showcase__item-installments {
  width: 100%;
  margin-top: 5px;
  @include formatText(0, 10px, $secondary);
}

.beon-showcase__item-avista {
  display: none;
}

.beon-showcase__item-discount .currency {
  display: none !important;
}

.beon-showcase__item-discount .value {
  display: none !important;
}

.beon-showcase__item-badge--off-value {
  display: none !important;
}
