@mixin formatText($weight, $size, $color) {
  font-style: normal !important;
  font-weight: $weight !important;
  font-size: $size !important;
  color: $color !important;
}

@mixin iphonex {
  @media (min-width: 0px) and (max-width: 414px) {
    @content;
  }
}
