.beon-slider {
  @include iphonex {
    padding: 0 !important;
    height: 100vh;
    max-width: 414px !important;
    overflow-x: hidden;
  }
}

.tns-controls {
  @include iphonex {
    max-width: 300px !important;
    display: flex;

    button:first-child {
      margin: 300px 0px;
    }

    button:last-child {
      position: absolute;
      left: 0;
      margin: 300px 330px;
    }
  }
}

.tns-nav {
  @include iphonex {
    max-width: 300px;
    position: absolute;
    left: 40px;
  }
}
