* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  min-width: 100%;
  min-height: 100vh;
}

.divisor {
  display: none;
}

.beon-showcase__head::before {
  position: relative;
  top: 50px !important;
  z-index: 5 !important;
  border: 1px solid #5B2C86;
}

.beon-slider .beon-slider__slides .beon-slider__slide {
  padding: 0 !important;
}

.beon-showcase .beon-showcase__item {
  margin: 0 !important;
}

.beon-showcase__item-references {
  display: none !important;
}

.beon-showcase .beon-showcase__item-price--to .beon-showcase__price,
.beon-showcase .beon-showcase__item-price-box--simple .beon-showcase__price {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 22px !important;
  color: #5B2C86 !important;
}

.beon-showcase__item-price--to .prefix {
  display: none;
}

.beon-showcase__item-price--to {
  width: 100%;
  margin-top: 10px;
}

.beon-showcase__item-installments {
  width: 100%;
  margin-top: 5px;
  font-style: normal !important;
  font-weight: 0 !important;
  font-size: 10px !important;
  color: #5B2C86 !important;
}

.beon-showcase__item-avista {
  display: none;
}

.beon-showcase__item-discount .currency {
  display: none !important;
}

.beon-showcase__item-discount .value {
  display: none !important;
}

.beon-showcase__item-badge--off-value {
  display: none !important;
}

.beon-showcase__head-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}
@media (min-width: 0px) and (max-width: 414px) {
  .beon-showcase__head-inner {
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .beon-showcase__head-inner a {
    display: none !important;
  }
}

.beon-showcase__title {
  background-color: #FFFFFF !important;
}
.beon-showcase__title span {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #5B2C86 !important;
}

.beon-showcase__viewmore {
  background-color: #FFFFFF !important;
}
.beon-showcase__viewmore span {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #5B2C86 !important;
}

.beon-slider__slide {
  max-width: 260px;
  max-height: 520px;
  background-color: #FFFFFF;
  margin: 35px 40px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  width: 100%;
}
.beon-slider__slide div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.beon-slider__slide div .beon-showcase__item-image {
  max-width: 218px;
  max-height: 309px;
  margin: auto;
}
.beon-slider__slide div .beon-showcase__item-title {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #313131 !important;
  position: relative;
  top: 335px;
}

.beon-showcase__item-description div {
  min-height: 105px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: start;
}

.beon-showcase__item-price--from {
  width: 100%;
  margin-top: 50px;
}
.beon-showcase__item-price--from span {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  color: #CCCCCC !important;
  text-align: left;
}
.beon-showcase__item-price--from .prefix {
  text-decoration: line-through;
}
.beon-showcase__item-price--from .beon-showcase__price span {
  text-decoration: line-through;
}

.beon-showcase__item-actions a {
  border-radius: 0 0 5px 5px !important;
  background-color: #DFDFDF;
}
.beon-showcase__item-actions a span {
  width: 100%;
  color: #5B2C86;
}
.beon-showcase__item-actions a:hover {
  border-radius: 0 0 5px 5px !important;
  background-color: #5B2C86;
}
.beon-showcase__item-actions a:hover span {
  width: 100%;
  color: #FFFFFF;
}

.beon-showcase__item-badge {
  background-color: #5B2C86 !important;
  padding: 12px !important;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin: 0 195px;
}
.beon-showcase__item-badge span {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.beon-showcase__item-badge .beon-showcase__item-discount {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  color: #FFFFFF !important;
}
.beon-showcase__item-badge .null {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  color: #FFFFFF !important;
  margin: 5px;
}

@media (min-width: 0px) and (max-width: 414px) {
  .beon-slider {
    padding: 0 !important;
    height: 100vh;
    max-width: 414px !important;
    overflow-x: hidden;
  }
}

@media (min-width: 0px) and (max-width: 414px) {
  .tns-controls {
    max-width: 300px !important;
    display: flex;
  }
  .tns-controls button:first-child {
    margin: 300px 0px;
  }
  .tns-controls button:last-child {
    position: absolute;
    left: 0;
    margin: 300px 330px;
  }
}

@media (min-width: 0px) and (max-width: 414px) {
  .tns-nav {
    max-width: 300px;
    position: absolute;
    left: 40px;
  }
}/*# sourceMappingURL=main.css.map */